body {
font-family: 'Roboto' , sans-serif;
background-color:var(--color-white);
color:var(--color-slate);
}
p, h1, h2, h3, h4, h5, h6 { margin: 0;}
ul { margin: 0;
padding-left: 0;}

img { display: block;}
header {
border-bottom: 1px solid #e7e9fc;
}

:root {
        --color-iris: #4d5ae5;
        --color-ocean: #404bbf;
        --color-navy-blue: #2e2f42;
        --color-green: #31d0aa;
        --color-slate: #434455;
        --color-light-slate: #8e8f99;
        --color-cornflower: #e7e9fc;
        --color-cloud: #f4f4fd;
        --color-navy-blue-modal: #2e2f42;
        --color-grey: #2e2f42;
        --color-white: #ffffff;
        --color-dairy: #fcfcfc;
}
/*----------NAVIGATION--*/
.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.section {
padding-top: 120px;
padding-bottom: 120px;
}
.list {
list-style: none;
}

.link {
text-decoration: none;
}
.link-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-navy-blue);
}

.link-logo-web {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-iris);
}
.header-container {
display: flex;
align-items: center;
padding-top: 24px;
padding-bottom: 24px;
}

.header-navigation {
display: flex;
align-items: center;
margin-right: auto;
}

.header-list-main {
display: flex;
}
.header-logo {
font-family: 'Raleway' , sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-iris); 
text-decoration: none;
margin-right: 76px;
}

.header-logo-web {
color: var(--color-grey);
}
.header-list-main {
list-style-type: none;
text-decoration: none;
}
.header-item-main{
margin-right: 40px;
}
.header-item-main:last-child{margin-right: 0;}

.header-item-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-grey);
text-decoration: none;
}

.header-item-link:is(:hover, :focus) {color: var(--color-ocean);}

.contacts {
font-style: normal;
}

.contacts-list { list-style-type: none;
display: flex;
column-gap: 40px;
}

.contacts-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate);
text-decoration: none;
}
.contacts-link:hover{color: var(--color-ocean);}
.contacts-link:focus {
color: var(--color-ocean);
}

/* Секція 1 */
.hero{
background: var(--color-grey);
max-width: 1440px;
margin: 0 auto;
padding-top: 188px;
padding-bottom: 188px;
text-align: center;
}
.hero{
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)) , url(../images/people-office.jpg);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}
.hero-title{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--color-white);
max-width: 496px;
margin: auto;
align-items: center;
margin-bottom: 48px;
}

.hero-btn{
background: var(--color-iris);
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-white);
cursor: pointer;
display: inline-block;
border: transparent;
padding: 16px 32px 16px 32px;
border-radius: 4px;
margin:  auto;
}

.hero-btn:hover {
background-color: var(--color-ocean);
}
.hero-btn:focus{ background-color: var(--color-ocean);}

/* Секція 2 */
.container-slogan{
display: flex;
}
.slogan{
display: flex;    
}
.slogan-list {
display: flex;
gap: 24px;
}
.slogan-icon{
display: inline-block;
width: 64px;
height: 64px;

}
.slogan-soc-icon{
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: var(--color-cloud);
margin-bottom: 8px;
border-radius: 4px;
}
.slogan-list-item{
max-width: 264px;
flex-basis: calc((100% - 24px)/4);

}

.slogan-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-navy-blue);
margin-bottom: 8px;
}

.slogan-paragraph{
display: flex;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-slate);}

/* Секція 3 */

.about{
padding-top: 0;
padding-bottom: 120px;
}
.about-title {
align-items: center;
margin: auto;
margin-bottom: 72px;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-navy-blue-modal);
}

.about-list {list-style-type: none;
display: flex;
gap: 24px;
}
.about-item{
max-width: 360px;
}

/* Секція 4 */

.team {
background-color:var(--color-cloud);
}
.team-title {
align-items: center;
margin: auto;
margin-bottom: 72px;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-grey);
}
.team-icon-list{
        
}
.team-list {
list-style-type: none;
display: flex;
gap: 24px;
}
.team-item {
background-color: var(--color-white);
}
.team-name {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--color-navy-blue-modal);
}
.team-wrap{
padding: 32px 16px;
}
.team-position {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--color-slate);
}
/* Footer */

.footer {
background: var(--color-navy-blue);
}
.footer-link {
font-family: 'Raleway' , sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-iris);
text-decoration: none;
}
.container-footer{
padding-top: 100px;
padding-bottom: 100px;
}
.footer-logo {
color: var(--color-cloud);
}
.footer-paragraph {
margin-top: 16px;
max-width: 264px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-cloud);
}
/* Portfolio */
.menu{
padding-top: 96px;
}
.btn-list{ list-style-type: none;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
gap: 24px;
margin-bottom: 72px;
}
.btn-list-item:hover { 
background-color: var(--color-ocean);
border-radius: 4px;;

}
.btn-list-item:focus {
background-color: var(--color-ocean);
border-radius: 4px;  }

.menu-btn-two {
font-family: "Roboto" , sans-serif;
background: var(--color-cloud); 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--color-iris);
cursor: pointer;
padding: 12px 24px;
border-radius: 4px;
border: transparent;
}
.menu-btn-two:hover{ color:var(--color-white);}
.menu-btn-two:focus{ color: var(--color-white);
}
.menu-btn-two:hover {
background-color:var(--color-ocean);
}
.menu-btn-two:focus {
background-color:var(--color-ocean);
}
/** Portfolio 1 - 3*/

.icon-list{
display: flex;
flex-wrap: wrap;
row-gap: 48px;
column-gap: 24px;
list-style-type: none;
background-color: var(--color-white);
}
.icon-item{
flex-basis: calc((100% - 48px) / 3);
}
.link-img{text-decoration: none;
}
.wrap-icon{
border: 1px solid var(--color-cornflower);
border-top: none;
}
.icon-title {
padding-top: 32px;
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-navy-blue);
margin-left: 16px;
}

.icon-paragraph {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate);
padding-bottom: 32px;
margin-left: 16px;
}
